@mixin btn_formule {
        font-size: 18px;
        width: 251px;
        height: 56px;
        border: 0px solid transparent;
        border-radius: 28px;
        text-align: center;
        background-color: #38DEAE;
        box-shadow: 1px 0px 16px 0px rgb(0 0 0 / 35%);
        cursor: pointer;
        @media #{$media-down} {
            width: 214px;
            height: 48px;
            margin-top: 24px;
            margin-left: 16px;
            font-size: 16px;
        }
}