$color-green: #38DEAE;
$color-blue: rgb(70, 126, 229);
$color-gray: rgb(138, 152, 162);
$color-green_light: #B2FFDA;
$color-black: #5A6A74;

$font-family_bold: "inter_Bold";
$font-family_medium: "inter_Medium";
$font-family_regular: "inter_Regular";
$font-family_semiBold: "inter_SemiBold";