@import "./_mixins.scss";
@import "./_media.scss";
@import "./_btn.scss";
@import "./_variables.scss";

@font-face {
    font-family: "inter_Bold";
    src: url("/police/Inter-Bold.otf");
}

@font-face {
    font-family: "inter_Medium";
    src: url("/police/Inter-Medium.otf");
}

@font-face {
    font-family: "inter_Regular";
    src: url("/police/Inter-Regular.otf");
}

@font-face {
    font-family: "inter_SemiBold";
    src: url("/police/Inter-SemiBold.otf");
}


body{
    padding: 32px;
    @media #{$media-down} {
        padding: 0;
        margin: 0;
    }
}

*{
    box-sizing: border-box;
}

.container{
    width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
    @media #{$media-down} {
        width: 100%;
        overflow: hidden;
    }
}

.header{
    nav{
        position: relative;
        display: flex;
        flex-direction: row;
        .logo{
            margin-right: 34px;
            @media #{$media-down} {
                content: url("/logos/logo_dom_resp.png");
                width: 167px;
                height: 40px;
                margin-top: 16px;
                margin-left: 16px;
            }
        }
        .box_nav{
            display: flex;
            align-items: center;
            @media #{$media-down} {
                display: none;
            }
            a{
                width: 82px;
                height: 20px;
                font-size: 16px;
                margin-right: 25px;
            }
        }
    }
    .phone_number{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        right: 45px;
        width: 305px;
        height: 52px;
        border: 1px solid black;
        border-radius: 30px;
        color: white;
        background-color: black;
        box-shadow: 1px 0px 16px 0px rgb(0 0 0 / 35%);
        font-size: 18px;
        @media #{$media-down} {
            display: none;
        }
    }
}

.presentation{
    margin-top: 322px;
    margin-left: 56px;
    @media #{$media-down} {
        margin-top: 50px;
        margin-left: 0;
    }
    @include box_presentation;
}

.avantages{
    margin-top: 200px;
    margin-left: 56px;
    @media #{$media-down} {
        width: 100%;
        margin-top: 40px;
        margin-left: 16px;
    }
    @include box_avantages;
}

.info{
    display: flex;
    margin-top: 100px;
    margin-left: 56px;
    @media #{$media-down}{
        width: 100%;
        height: 900px;
        display: inline-block;
        margin-left: 16px;
        margin-top: 20px;
    }
    @include box_info;
}

.box_adress{
    position: relative;
    display: flex;
    margin-top: 284px;
    margin-left: 0px;
    width: 1493px;
    height: 652px;
    @media #{$media-down}{
        display: block;
        position: relative;
        width: 100%;
        height: 544px;
        margin-top: 40px;
    }
    @include box_adress;
}

.box_services{
    @media #{$media-down}{
        width: 100%;
    }
    .background_image{
        position: absolute;
        top: 2465px;
        @media #{$media-down}{
            top: 3620px;;
            display: none;
        }
    }
    .general{
        position: relative;
        @include box_service;
    }
}

.box_about{
    margin-top: 165px;
    margin-left: 180px;
    width: 1080px;
    height: 748px;
    @media #{$media-down}{
        width: 100%;
        height: 1770px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 80px;
    }
    @include box_about_us;
}

.box_contact{
    display: flex;
    width: 1440px;
    height: 868px;
    margin-top: 157px;
    background-image: url("/logos/bitmap_laptop.png");
    @media #{$media-down}{
        width: 100%;
        height: 750px;
        margin-top: 60px;
    }
    @include box_contact;
}

.box_footer{
    width: 1440px;
    height: 510px;
    background-color: $color-black;
    border-top: 8px solid $color-green;
    @media #{$media-down}{
        width: 100%;
        height: 425px;
    }
    p{
        margin: 7px
    }
    @include box_footer;
}